---
layout: default  # 기본 레이아웃으로 설정 (default 레이아웃 사용)
---

<div class="container">
  <section class="post-list">
    <h1 class="category-title">{{ page.title }}</h1>
    <!-- 현재 페이지의 제목 출력 -->

    <ul>
      {% for post in paginator.posts %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          - {{ post.date | date: "%Y-%m-%d" }}
        </li>
      {% endfor %}
    </ul>
    
    <!-- 페이지 네비게이션 -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; 이전</a>
      {% endif %}
    
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="current">{{ page }}</span>
        {% else %}
          <a href="{{ paginator.page_path | prepend: site.baseurl }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
    
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">다음 &raquo;</a>
      {% endif %}
    </div>
    
  </section>
</div>
